<div class="card">
  <app-button-delete (click)="onEliminar(unico)"></app-button-delete>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/4/43/Peace_dove.svg"
    class="card_img"
    alt="{{unico.titulo}}"
  />
  <div class="cards_text">
    <p class="card_list">{{unico.titulo}}</p>
    <h3 class="card_title">
      {{unico.autor}}
    </h3>
    <app-update-button
    texto="{{ mostrarAgregarLibro ? 'ACTUALIZAR' : 'ACTUALIZAR' }}"
    (btnUpdateClick)="toggleAgregarTarea()"
    ></app-update-button>
  </div>
</div>
