<form action="" *ngIf="mostrarAgregarLibro" (ngSubmit)="onSubmit()">
  <div class="">
    <label for="titulo">Libro</label>
    <div class="titulo-input">
      <input type="text" name="titulo" id="titulo" [(ngModel)="titulo"/>
    </div>
  </div>
  <div class="">
    <label for="nombreAutor">Autor</label>
    <div class="titulo-input">
      <input type="text" name="nombreAutor" (ngModel)="nombreAutor"/>
    </div>
  </div>

  <div>
    <input type="submit" name="btnGuardar" value="Guardar" />
  </div>
</form>
